@font-face { font-family: "Roboto-Black"; src: url("Roboto-Black.ttf"); }
@font-face { font-family: "Roboto-Regular"; src: url("Roboto-Regular.ttf"); }
@font-face { font-family: "Roboto-Thin"; src: url("Roboto-Thin.ttf"); }
@font-face { font-family: "Montserrat-Regular"; src: url("Montserrat-Regular.ttf"); }

body {
    font-family: "Montserrat-Regular", Arial, sans-serif;
    /*text-align: center;*/
    color: #ffffff;
    background-color: #000000;
    /**/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */

    padding: 0;
    margin: 0;
    background-color: rgb(136, 104, 143);
    background-image: url(https://igrostore.net/upload/iblock/f1e/by6a34eix074xjitdsregaohpx13f5e9.jpg);
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 200px;
    background-color: red;
    background-image: url(https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/273070/499edfcdd84828b74db177f7a8acf8f4d0aee62a.jpg);
    background-size: 120%;
   position: relative;
    

}


.container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

main {
    width: 70%;
    min-height: calc(100vh - 300px);
    background-color: rgba(38, 24, 87, 0.514);
   
    background-attachment: fixed;
}

main div {
    box-sizing: border-box;
    height: 300px;
    padding: 20px;
    font-size: 32px;
    background-color: rgba(255 255 255 .5);
}

aside {
    position: sticky;
    top: 0;
    width: 40%;
    height: 400px;
    background-color: rgba(63, 19, 59, 0.5);
    
}

aside a {
    box-sizing: border-box;
    padding: 8px 24px;
    color: #1e3574;
    font-size: 20px;
    display: block;
}

footer {
    width: 100%;
    height: 100px;
    background-color: rgb(22, 21, 21);
    border: 2px solid black;
}


.flip-logo{
    width: 250px;
    height: 200px;
    position: absolute;
    left: 150px;
   top: 0px;

   }



 .marquee-text{
  height: 80px;
  width: 300px;
  position: absolute;
  right: 50vh;
  margin: 60px auto;
  
    
 }
 .vk-icon{
    width: 40px;
    height: 30px;
    margin-top: 10px;
 }
 .vk-page{
    display: flex;
    flex-direction: row;
   

 }
 a {
    text-decoration: none;
    color: rgb(42, 41, 46);
 
 }
 i {
    color: rgb(39, 37, 37); ;
    position: absolute;
   right: 5px;
   margin-top: 20px;
 }
